@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
}


body {
    overflow-x: hidden;
}

.login_main_section {
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


::-webkit-scrollbar {
    display: none;
}

.login_page_phone {
    width: 30%;
    height: 95%;
    transition: transform .6s ease-out;
}

.login_page_phone_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s ease-out;
    color: white;
}

.login_main_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label {
    font-weight: bold;
    position: relative;
    display: inline-block;
}

label:before {
    position: absolute;
    content: "";
    bottom: -.5rem;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 1rem;
}

.login_page_input {
    border: 0.5px solid white;
    border-radius: .5rem;
    padding: 0.75rem;
    background: transparent;
    color: white;
    font-size: 1rem;
}


.login_page_img {
    height: 10rem;
    width: 10rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 8rem;
    transition: transform .6s ease-out;
    transform: translate(-50%, 0);
}

.login_page_submit {
    padding: .5rem;
    border-radius: 0.5rem;
    outline: none;
    border: 0.5px solid white;

}

.back_button {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: white;
    border-radius: 2rem;
    padding: 1rem;
    padding-inline: 2rem;
    position: fixed;
    left: 2rem;
    top: 2rem;
    z-index: 10000;
}


.signup_button {
    color: white;
    transition: all 0.6s cubic-bezier(0.85, 0, 0.15, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 2rem;
    padding: 1rem;
    padding-inline: 2rem;
    position: fixed;
    left: 11rem;
    border: 2px solid white;
    top: 2rem;
    z-index: 10000;
    background: rgba(0,0,0,0.35)
}

.back_button:hover {
    transform: scale(1.2);
    cursor: default;
}

.signup_button:hover {
    background: white;
    color: black;
    transform: scale(1.2);
    cursor: default;
}

.login_page_submit:hover {
    background: transparent;
    color: white;;
}

input::placeholder {
    color: white;
}



.login_page_signup_div {
    border-radius: 1.5rem;
    background: white;
    position: absolute;
    z-index: 10000;
    right: -100rem;
    transition: all 0.6s cubic-bezier(0.85, 0, 0.15, 1);
    bottom: 1rem;
}


.login_page_signup_div {
    display: flex;
    width: 25rem;
    flex-direction: column;
    padding: 2rem;
}

.login_page_signup_div h1 {
    text-align: center;
    position: relative;
}

.login_page_signup_div h1:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    background: black;
    height: 5px;
    border-radius: 1rem;
}

.login_page_signup_div button {
    padding: .5rem;
    border-radius: .5rem;
    background: black;
    color: white;
    margin-block: 1rem;
}


.login_page_signup_div label {
    font-weight: bold;
    padding-block: 1rem;
}

.login_page_signup_div input {
    border: 1px solid black;
    font-size: 1.2rem;
    padding-inline: .75rem;
    padding-block: .25rem;
    outline: none;
    border-radius: .5rem;
}